<div class="p-3 p-sm-5 px-5 mb-4 border-top" style="background-color:#fff9f5">
    <h1 class="display-4">おいしいもの食べよう。</h1>
    <p class="lead">個人開発のアウトプットです。</p>
    <hr class="my-4">
    <p>このサイトはおいしかったものを記録していくサイトです。</p>
    <%= link_to "投稿する" , new_path , class:"btn btn-info" %>
    <%= link_to "一覧表示" , posts_path , class:"btn btn-success mx-3" %>    
</div>
<div class="mx-5">
  <h4 class="my-4">最新の投稿</h4>
	<table class="table table-responsive-lg">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">食べた日</th>
        <th scope="col">店名</th>
        <th scope="col">メニュー</th>
        <th scope="col">コメント</th>
        <th scope="col"></th>

      </tr>
    </thead>
    <tbody class="table-light">
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.event_date %></td>
        <td><%= post.shop_name %></td>
        <td><%= post.menu %></td>
        <td><%= post.comment %></td>
        <td><%= link_to :詳細, post_path(post.id) , class:"btn btn-outline-secondary btn-sm" %></td>

      </tr>
      <% end %>
    </tbody>
  </table>
</div>


