
<div class="mt-4 container">
  <h1 class="h3 my-3">新規投稿画面</h1>
  <%= form_with(model: @post, local: true) do |form| %>
    <div class="row my-2">
      <div class="col-md-3">
        <%= form.label :食べた日, class:'form-label' %>
        <%= form.text_field :event_date , class: "form-control", placeholder: "2020/01/01" %>
      </div>
    </div>
    <div class="row g-3 my-2">
      <div class="col-md-4">
        <%= form.label :店名, class:'form-label' %>
        <%= form.text_field :shop_name , class: "form-control", placeholder: "お店の名前" %>
      </div>
      <div class="col-md-4">
        <%= form.label :メニュー, class:'form-label' %>
        <%= form.text_field :menu , class: "form-control", placeholder: "食べたもの" %>
      </div>
      <div class="my-3 col-md-8">
        <%= form.label :コメント, class:'form-label' %>
        <%= form.text_area :comment , class: "form-control", placeholder: "感想を書いてね", rows:3 %>
      </div>
    </div>
    <div>
      <%= form.submit '投稿する',class: "btn btn-info" %>
    </div>
  <% end %>
</div>