<div class="container">
  <h4 class="my-4">詳細表示</h4>
	<table class="table table-light table-bordered table-responsive-lg">
    <thead class="table-secondary">
      <th scope="col">項目</th>
      <th scope="col">内容</th>
    </thead>
    <tbody>
      <tr>
      <th class="w-25">ID</th>
        <td>
          <%= @post.id %>
        </td>
      </tr>
      <tr>
        <th>食べた日</th>
        <td>
          <%= @post.event_date %>
        </td>
      </tr>
      <tr>
        <th>店名</th>
        <td>
          <%= @post.shop_name %>
        </td>
      </tr>
      <tr>
        <th>メニュー</th>
        <td>
          <%= @post.menu %>
        </td>
      <tr>
        <th>感想</th>
        <td>
          <%= @post.comment %>
        </td>
      </tr>
      <tr>
        <th>投稿日時</th>
        <td>
          <%= @post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
        </td>
      </tr>
      <tr>
        <th>更新日時</th>
        <td>
          <%= @post.updated_at.strftime("%Y/%m/%d %H:%M:%S") %>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>